TELEGRAM_BOT_TOKEN=your_bot_token
SUPABASE_URL=https://xxxx.supabase.co
SUPABASE_KEY=your_anon_key

# JSON array of users. Each user has: name, dni, password, chat_id
USERS='[{"name": "Uziel", "dni": "12345678", "password": "xxx", "chat_id": "123456"}, {"name": "Novia", "dni": "87654321", "password": "yyy", "chat_id": "654321"}]'
